body {
  background: #E78CF8;
}

div.wrapper {
  width: 960px;
  margin: 0 auto;
}

h1.header {
  text-align: center;
}

div.row {
  text-align: center;
  margin-bottom: 25px;
}

div.row > img {
  width: 19%;
}

div.row > img:nth-child(2) {
  margin: 0 4%;
}
