body {
  background: #E78CF8;
}

div.wrapper {
  width: 960px;
  margin: 0 auto;
}

div.header {
  margin-bottom: 30px;
}

div.header > h1 {
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:pictureIntro ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:pictureIntro ease-in 1;
  animation:pictureIntro ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

div.row > a > img {
  width: 100%;
  height: 100%;
  background-size: 280px;
  background-position: right;
  -webkit-filter: saturate(0%);
  border-radius: 5%;
  transition: border-radius 0.2s ease, -webkit-filter 0.4s ease;

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:pictureIntro ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:pictureIntro ease-in 1;
  animation:pictureIntro ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

div.row > a:hover > img {
  border-radius: 50%;
  -webkit-filter: saturate(100%);
}

div.row > a:hover > h2 {
  top: 100%;
}

div.row > a > h2 {
  transition: top 0.4s ease-in-out;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: 'Paytone One', sans-serif;
  position: absolute;
  top: 44%;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: center;
  width: 100%;

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:pictureIntro ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:pictureIntro ease-in 1;
  animation:pictureIntro ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;

  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

div.row > a {
  position: relative;
  width: 200px;
  height: 200px;
  float: left;
  margin: 20px;
}


@-webkit-keyframes pictureIntro {
  from {
    opacity:0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity:1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pictureIntro {
  from {
    opacity:0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity:1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pictureIntro {
  from {
    opacity:0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  to {
    opacity:1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
