body {
  background: #E78CF8;
}

div.wrapper {
  width: 960px;
  margin: 0 auto;
}

div.header {
  margin-bottom: 30px;
}

div.header > h1 {
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  opacity:0;  /* make things invisible upon start */
  -webkit-animation: pictureIntro ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: pictureIntro ease-in 1;
  animation: pictureIntro ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;

  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

img.back {
  width: 50px;
  height: 50px;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  margin-bottom: 30px;
}

div.row > img {
  width: 20%;
  height: 20%;
  background-size: 280px;
  background-position: right;
  border-radius: 5%;
  margin-left: 30px;
  margin-bottom: 30px;
  -webkit-filter: saturate(0%);

  opacity:0;  /* make things invisible upon start */
  -webkit-animation:pictureIntro ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:pictureIntro ease-in 1;
  animation:pictureIntro ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.5s;
  -moz-animation-duration:0.5s;
  animation-duration:0.5s;

  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

@-webkit-keyframes pictureIntro {
  from {
    opacity:0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-filter: saturate(0%);
  }
  to {
    opacity:1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: saturate(1%);
  }
}
@-moz-keyframes pictureIntro {
  from {
    opacity:0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-filter: saturate(0%);
  }
  to {
    opacity:1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: saturate(1%);
  }
}
@keyframes pictureIntro {
  from {
    opacity:0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-filter: saturate(0%);
  }
  to {
    opacity:1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-filter: saturate(1%);
  }
}
